/testData/processed_first_level_MAC_family/social/221_contrast_macFamily.nii.gz
/testData/processed_first_level_MAC_family/physical/221_physical_macFamily.nii.gz
/testData/processed_first_level_MAC_family/wordpeak_social/221_social_macFamily_wordPeak.nii.gz
/foundationScores/21styear_segment_MFT_MAC.xlsx
/foundationScores/tunnel_segment_MFT_MAC.xlsx
